<!-- Charger le header -->
<%- include('statics/header') -%>

<main>
    <section>
        <h2>Gestion des contacts</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat harum culpa laboriosam veritatis error vero quisquam reiciendis adipisci accusamus facilis. Perferendis possimus itaque, ad neque ratione architecto ducimus ex dolorum.</p>
    </section>

    <section>
        <h3>Ajouter un contact</h3>
        <%- include('components/form-contacts', { action: 'POST' }) -%>
    </section>

    <section>
        <h3>Liste des contacts</h3>

        <ul>
            <% for( let item of data ) {%>
                <li>
                    <ul class="flexBox spaceBetween alignCenter">
                        <li>
                            <a href="<%- item.link %>" target="_blank"><i class="<%- item.icon %>"></i> <%- item.title %></a>
                        </li>
                        <li class="flexBox spaceBetween alignCenter">
                            <form action="/delete/contact" method="POST">
                                <input type="text" name="id" value="<%- item.id%>" hidden required>
                                <button type="submit"><i class="far fa-trash-alt"></i></button>
                            </form>
    
                            <form action="/update/contact/<%- item.id%>" method="GET">
                                <button type="submit"><i class="fas fa-edit"></i></button>
                            </form>
                        </li>
                    </ul>
                </li>
            <% } %>
        </ul>
    </section>
</main>

<!-- Charger le footer -->
<%- include('statics/footer') -%>