<!-- Charger le header -->
<%- include('statics/header') -%>

<main>
    <section>
        <h2>Gestion des pages</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat harum culpa laboriosam veritatis error vero quisquam reiciendis adipisci accusamus facilis. Perferendis possimus itaque, ad neque ratione architecto ducimus ex dolorum.</p>
    </section>

    <section>
        <h3>Ajouter une page</h3>
        <%- include('components/form-create-page') -%>
    </section>

    <section>
        <h3>Liste des pages</h3>
        <% for( let item of data ) {%>
            <article>
                <ul class="flexBox spaceBetween alignCenter">
                    <li><%- item.title %></li>
                    <li>
                        <form action="/delete/page" method="POST">
                            <input type="text" name="id" value="<%- item.id%>" hidden required>
                            <button type="submit"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </li>
                </ul>
            </article>
        <% } %>
    </section>
</main>

<!-- Charger le footer -->
<%- include('statics/footer') -%>